<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Employee</th>
    <th>Title</th>
  </tr>

<% for assignment in @assignments %>
  <tr>
    <td><%=h assignment.project.name %></td>
    <td><%=h assignment.employee.name %></td>
    <td><%=h assignment.title %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New assignment', new_assignment_path %>
